<ion-view view-title="热点新闻">
  <ion-content class="padding">
    <ion-refresher pulling-text="刷新中..." on-refresh="doRefresh('scroll.refreshComplete')"></ion-refresher>
    <ion-list ng-repeat="(website, hotnews) in websites">
      <!-- collection-repeat see ionic directive collection-repeat -->
      <ion-item class="item-avatar item-icon-right" ng-repeat="news in hotnews" type="item-text-wrap" ng-click="openLink(news.href)">
      <!-- <img ng-src="{{chat.face}}"> -->
      <h2>{{website}}</h2>
      <p>{{news.name}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>

      <!-- <ion-option-button class="button-assertive">
        Delete
      </ion-option-button> -->
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      distance="-1%"
      on-infinite="doRefresh('scroll.infiniteScrollComplete')">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
